<div class="spinner-container">
    <div class="spinner-border text-info" role="status">
    </div>
</div>
<div class="text-container">
    <span>Sparar saga...</span>
</div>

@code {
    [Parameter]
    public bool IsSaving { get; set; }
}