@page "/om-oss"
<PageTitle>Om Oss</PageTitle>

<div class="container col-xxl-8 px-4 py-4 mt-5">
    <h1 class="text-center">Om FAIRYTALE</h1>
    <div class="row flex-lg-row-reverse align-items-center g-6 py-5">
        <div class="col-10 col-sm-8 col-lg-6 mt-5">
            <img src="Images/Luftballong.png" class="d-block mx-lg-auto img-fluid" alt="" width="300" height="300">
        </div>
    <div class="col-lg-6">
        <div class="ps-5">
            <h2>Vår vision</h2>
@*             Utfyllnadstext *@
                <p>Vi strävar efter ett samhälle där alla människor, oavsett bakgrund, 
                    har lika värde och möjlighet att leva ett gott liv med god hälsa.<br /> Genom vårt initiativ, FAIRYTALE, 
                    arbetar vi för att minska skillnader i livsvillkor och hälsa mellan olika grupper i vår stad. 
                    Vår vision bygger på att alla invånare ska känna delaktighet, tillit och förtroende för varandra, 
                    vilket skapar en jämlik och inkluderande stad för alla. Vi tror att sagor och berättelser kan vara 
                    kraftfulla verktyg för att främja detta, genom att spegla mångfalden i vårt samhälle och skapa positiva 
                    läsupplevelser som binder oss samman.</p>
        </div>
        <div class="ps-5">
            <h2>Teamet</h2>
                @*             Utfyllnadstext *@
                <p>Vi är en grupp studenter på FAIRYTALE, och vi skapar platsen där du kan utforska världar av fantasi. 
                    Vårt fantastiska team består av Fanny Algotsson, Sofia Friberg, Asad Ali, Johan Granlöf och Mathias Granlöf.</p>
        </div>
        </div>
    </div>
    <div class="Oss d-flex justify-content-between py-4">
        <div class="align-items-center">
            <img src="Images/fanny_avatar.png" class="d-block mx-lg-auto img-fluid" alt="" width="75" height="75">
            <h5 class="text-center">Fanny Algotsson</h5>
            <p class="text-center small">CEO & CO-Founder</p>
        </div>
        <div class="align-items-center">
            <img src="Images/asad_avatar.png" class="d-block mx-lg-auto img-fluid" alt="" width="75" height="75">
            <h5 class="text-center">Asad Ali</h5>
            <p class="text-center small">CEO & CO-Founder</p>
        </div>
        <div class="align-items-center">
            <img src="Images/sofia_avatar.png" class="d-block mx-lg-auto img-fluid" alt="" width="75" height="75">
            <h5 class="text-center">Sofia Friberg</h5>
            <p class="text-center small">CEO & CO-Founder</p>
        </div>
        <div class="align-items-center">
            <img src="Images/johan_avatar.png" class="d-block mx-lg-auto img-fluid" alt="" width="75" height="75">
            <h5 class="text-center">Johan Granlöf</h5>
            <p class="text-center small">CEO & CO-Founder</p>
        </div>
        <div class="align-items-center">
            <img src="Images/mathias_avatar.png" class="d-block mx-lg-auto img-fluid" alt="" width="75" height="75">
            <h5 class="text-center">Mathias Granlöf</h5>
            <p class="text-center small">CEO & CO-Founder</p>
        </div>
    </div>
</div>


