@using Sagogenerator.Data
@using Sagogenerator.Models.Entities
@inject AppDbContext DB
@page "/hitta-sagor"
<PageTitle>Hitta Sagor</PageTitle>

<h3 class="text-center mt-5">Det var en gång en samling sagor som väntade på att bli lästa...</h3>
<p class="text-center mt-1">Dessa sagor har skapats av andra användare på olika språk. Logga in för att spara dina sagor till din profil</p>
<p class="text-center"></p>
<div class="card-wrapper">
    @foreach (var story in Stories)
    {
        <a class="cardx nav-link" href="/läs-saga/@story.Id">
            <div class="card-image-container">
                <img src="@story.Img" alt="Story Image" class="card-image">
            </div>
            <p class="card-title">@story.Title</p>
            <p class="card-des">@story.Content</p>
            <p class="pt-2">Läs sagan här &rarr;</p>
        </a>
    }
</div>

@code {
    ICollection<Story> Stories { get; set; }

    protected override void OnInitialized()
    {
        var storiesWithoutUser = DB.Stories.Where(story => story.User == null).ToList();
        Random random = new Random();
        var shuffledStories = storiesWithoutUser.OrderBy(x => random.Next()).ToList();
        Stories = shuffledStories.ToList();
    }
}