<img src="Images/Grön Brytare.png" class="headerbrytare" alt="" width="100%" height="20">
<div class="footer-container">
    <footer>
        <div class ="topfooter">
        <div class="vartnamn">
        <h3>FAIRYTALE</h3>
                <p>Platsen där det går att utforska världar av fantasi<br> där sagor vävs av AI</p>
        </div>
            <div class="footermenu">
                <h3>Vill du veta mer?</h3>
                <a href="https://svenskarnaochinternet.se/utvalt/svenskarna-och-ai/">&rarr;Om AI</a>
                <a href="/om-oss">&rarr;Om oss</a>

            </div>
            <img src="Images/PaintSlott.png" class="paintSlott" alt="Slott">
        </div>
        <div class="bottomfooter">
@*             <a href="/" class="nav-img px-4 text-black p-0 m-0"><img src="/Images/LoggaBröder.png" alt="Hem" width="45%"> </a> *@
            <span class="copyright">©FAIRYTALE All rights reserved</span>
        </div>
    </footer>
</div>