<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap.css" />
@*     <link rel="stylesheet" href="css/app.css" /> *@
    <link rel="stylesheet" href="css/app.css?v=@DateTime.Now.Ticks" />

    <link rel="stylesheet" href="css/Footer.css" />
    <link rel="stylesheet" href="css/Header.css" />
    <link rel="stylesheet" href="css/buttons.css" />
    <link rel="stylesheet" href="css/greenStoryContainerHome.css" />
    <link rel="stylesheet" href="css/prenumerationCard.css" />


    <link rel="stylesheet" href="Sagogenerator.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
