/*Header*/
header {
    background-color: #E6E9D7;
    padding-top: 20px;
}

.headerbrytare {
    margin-bottom: -20px;
}

.header-link {
    background-color: #F0F0E4;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Lägg till övergångseffekt för mjuk övergång */
}

    .header-link:hover {
        background-color: #F9F6F1;
    }